@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_SPLayout";
}

<div class="container-fluid">
    <h1>   THIS IS HOME PAGE FOR SP  </h1>


</div>