@inject ParcelHub.ServiceRepository.IUserSerivce userService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParcelHub</title>
    <link rel="stylesheet" href="~/clientSide/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/clientSide/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/clientSide/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/clientSide/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/clientSide/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/clientSide/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/clientSide/css/base.css" />
    <link rel="stylesheet" href="~/clientSide/css/site.css" />
    <link rel="stylesheet" href="~/clientSide/css/style.css" />
    <link rel="stylesheet" href="~/clientSide/css/magnific-popup.css">
    <link rel="stylesheet" href="~/clientSide/css/jquery-ui.css">
    <link rel="stylesheet" href="~/clientSide/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/clientSide/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/clientSide/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/clientSide/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/clientSide/css/aos.css">
    <link rel="stylesheet" href="~/clientSide/css/style.css">
</head>
<body>

    <header>
        <!-- Navigation -->
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <div class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">

            <div class="container">

                <div class="row align-items-center">

                    <div class="col-11 col-xl-2 site-logo">

                        <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0">KIWIPAECEL</a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                                <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                <li class="has-children">
                                    <a class="nav-link" asp-controller="ConsumerRegisterAndLogin" asp-action="ConsumerLogOut"> LogOut</a>
                                    <ul class="dropdown">
                                        <li><a href="#section-how-it-works" class="nav-link">Customer Services</a></li>
                                        <li><a href="#section-our-team" class="nav-link">Our Team</a></li>
                                    </ul>
                                </li>

                                <li><a class="nav-link" asp-controller="" asp-action="">News</a></li>


                                @{if (!userService.IsAuthenticated())
                                    {
                                        <li><a class="nav-link" asp-controller="ConsumerRegisterAndLogin" asp-action="ConsumerLogIn">Login</a></li>
                                        <li><a class="nav-link" asp-area="" asp-controller="ConsumerRegisterAndLogin" asp-action="ConsumerSignUp">SignUp</a></li>
                                    }
                                }



                                @*<li><a class="logo" asp-area="" asp-controller="" asp-action="">Ch<img src="~/images/logo.png" alt="mylogo" /></a></li>*@

                                @{ if (userService.IsAuthenticated())
                                    {

                                        <li><p>welcome @userService.GetUserName() ! </p></li>
                                    }
                                }


                            </ul>
                        </nav>
                    </div>


                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>

                </div>

            </div>

        </div>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ParcelHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/clientSide/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/clientSide/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/clientSide/js/site.js" asp-append-version="true"></script>
    <script src="/clientSide/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/clientSide/js/jquery-ui.js"></script>
    <script src="/clientSide/js/jquery.easing.1.3.js"></script>
    <script src="/clientSide/js/popper.min.js"></script>
    <script src="/clientSide/js/bootstrap.min.js"></script>
    <script src="/clientSide/js/owl.carousel.min.js"></script>
    <script src="/clientSide/js/jquery.stellar.min.js"></script>
    <script src="/clientSide/js/jquery.countdown.min.js"></script>
    <script src="/clientSide/js/jquery.magnific-popup.min.js"></script>
    <script src="/clientSide/js/bootstrap-datepicker.min.js"></script>
    <script src="/clientSide/js/aos.js"></script>

    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
