@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ Layout = "_Layout";}


<div>

    <h1>Change are made</h1>

    <a asp-controller="ConsumerParcels" asp-action="Create">Click Here to Create Another Shippment</a>
    <hr />
    <a asp-controller="ConsumerShippments" asp-action="Index">Go to my shippments</a>
</div>