@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }


<div class="container">
    <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">

            <h1>asdoihasdihasdoipa</h1>
            <hr>
            <hr>
            <hr>
            <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up"></h1>
            <a class="btn btn-primary" asp-controller="ConsumerAddresses" asp-action="index">Change My address</a>
            <hr>




            <a class="btn btn-primary" asp-area="" asp-controller="Consumers" asp-action="Index">Update My Profile</a>







            <br />
            <hr />
            <a class="btn btn-primary" asp-controller="ConsumerProfile" asp-action="ChangePassword">Change My password</a>

        </div>
    </div>
</div>