@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.Key</h1>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<a asp-controller="ConsumerAddresses" asp-action="index">user can CURD their own shipping address</a>
<hr>

<a asp-area="" asp-controller="HomePageNews" asp-action="Index">This is for the news and image for home page</a>

<hr>
<a asp-area="" asp-controller="Parcels" asp-action="Index">user can CURD their own Parcel</a>
<hr>
<a asp-area="" asp-controller="ConsumerShippments" asp-action="Index">ConsumerShippments</a>

<hr>

<a asp-area="" asp-controller="Consumers" asp-action="Index">user can CURD their own Profile</a>
<br />
<br />
<hr>
<a asp-controller="SPParcelManager" asp-action="index">Back End - check ALL parcel </a>