@model IEnumerable<ParcelHub.Models.Parcel>
    @{Layout = "_SPLayout";}
<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div>
<h1>hEEEEEEEEEEEEE</h1>