@{ Layout = null;}
@model ParcelHub.Models.LoginUser
<!doctype html>
<html class="no-js" lang="">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="~/img/favicon.png">

    <title>Login Page </title>

    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
</head>

<body class="login-img3-body">
  
    <!-- Login Register area Start-->
    <div class="container">
        <!-- Login -->

        <form asp-action="SPLogin" class="login-form">

            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">

                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Email" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-group ">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="fm-checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </div>
            </div>
        </form>

        </div>


        <!-- Login Register area End-->
       
</body>

</html>
